/* src/components/Navbar.css */
.navbar {
  border-bottom: 2px solid #f1c40f; /* Add a bottom border */
}

.navbar-brand {
  font-weight: bold; /* Make brand name bold */
}

.nav-link {
  font-size: 1.1rem; /* Slightly increase font size */
  color: #34495e; /* Custom link color */
}

.nav-link:hover {
  color: #f1c40f; /* Change color on hover */
}
