/* .pet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} */
/* src/components/PetList.css */
.pet-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}